<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Sunset DJs</title>
    <meta property="og:title" content="Sunset DJs" />
    <meta property="og:description" content="¡Descubre los DJs y eventos de Sunset!" />
    <meta property="og:image" content="https://sunsetdjsnew-production.up.railway.app/static/logo.png" />
    <meta property="og:url" content="https://sunsetdjsnew-production.up.railway.app/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Sunset DJs" />
    <meta name="twitter:description" content="¡Descubre los DJs y eventos de Sunset!" />
    <meta name="twitter:image" content="https://sunsetdjsnew-production.up.railway.app/static/logo.png" />
</head>
<body>
    {% include "core/menu.html" %}
    {% include "core/calendar.html" %}
</body>
</html>